/* htest html, font-size: 14px; line-height: 1.5; unit: px; */

@hamster {
	font-size: 14px;
	line-height: 1.5;
	font-weight: 400;
	font-color: #303030;
	font-family: "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
	unit: px;
}

@baseline html;

/* htest html and local settings, font-size: 32px; unit: px; legacy-browsers: false; */

@!hamster {
	font-size: 32px;
	unit: px;
  legacy-browsers: false;
}

@baseline html;

/* htest html tag and end of local settings, use global settings + px-fallback: false */

@hamster end;

@hamster {
	px-fallback: false;
}

@baseline html;

/* htest selector .test1, font-size: 14px; line-height: 1.5; unit: px; */

.test1 {
	font-family: @font-family;
	color: @font-color;
	font-weight: @font-weight;
	@baseline;
}

/* htest selector .test2, font-size: 21px; line-height: 28px; */

@!hamster {
	font-size: 21px;
	line-height: 28px;
}

.test2 {
	font-family: @font-family;
	color: @font-color;
	font-weight: @font-weight;
	@baseline;
}

/* htest selector .test3, font-size: 14px; line-height: 3; */

@!hamster {
	font-size: 14px;
	line-height: 3;
}

.test3 {
	font-family: @font-family;
	color: @font-color;
	font-weight: @font-weight;
	@baseline;
}

/* htest selector .test4,	font-size: 14px; line-height: 3; unit: em; */

@!hamster {
	font-size: 14px;
	line-height: 3;
	unit: em;
}

.test4 {
	font-family: @font-family;
	color: @font-color;
	font-weight: @font-weight;
	@baseline;
}

/* htest selector .test5, font-size: 14px; line-height: 3; unit: rem; px-fallback: true; */

@!hamster {
	font-size: 14px;
	line-height: 3;
	unit: rem;
	px-fallback: true;
	legacy-browsers: false;
}

.test5 {
	font-family: @font-family;
	color: @font-color;
	font-weight: @font-weight;
	@baseline;
}

/* htest html, font-size, 14px; line-height: 3; unit: rem; px-fallback: true; */

@baseline html;

/* htest selector .test6, font-size: 14px; line-height: 1.5; unit: rem; px-fallback: false; */

@!hamster {
	font-size: 14px;
	line-height: 1.5;
	unit: rem;
	px-fallback: false;
}

.test6 {
	font-family: @font-family;
	color: @font-color;
	font-weight: @font-weight;
	@baseline;
}

/* htest html, font-size: 14px; line-height: 1.5; unit: rem; px-fallback: false; */

@baseline html;

/* htest html, font-size: 14px; line-height: 1.5; unit: rem; px-fallback: false; px-baseline: true; */

@!hamster {
	px-baseline: true;
}

@baseline html;

/* htest html, font-size: 14px; line-height: 1.5; unit: rem; px-fallback: true; px-baseline: true; */

@!hamster {
	px-fallback: true;
}

@baseline html;