/* htest html, font-size: 14px; line-height: 1.5; unit: px; */
@hamster reset;
@hamster {
    font-size: 14px;
    line-height: 1.5;
    font-weight: 400;
    font-color: #303030;
    font-family: "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    unit: px;
    legacy-browsers: true;
}

@baseline html;

/* htest html and local settings, font-size: 32px; unit: px; legacy-browsers: false; */

@ihamster {
    font-size: 32px;
    unit: px;
    legacy-browsers: false;
}

@baseline html;

/* htest html tag and end of local settings, use global settings + px-fallback: false */

@hamster end;

@hamster {
    px-fallback: false;
    legacy-browsers: true;
}

@baseline html;

/* htest selector .test1, font-size: 14px; line-height: 1.5; unit: px; */

.test1 {
    font-family: @font-family;
    color: @font-color;
    font-weight: @font-weight;
    @baseline;
}

/* htest selector .test2, font-size: 21px; line-height: 28px; */

@ihamster {
    font-size: 21px;
    line-height: 28px;
}

.test2 {
    font-family: @font-family;
    color: @font-color;
    font-weight: @font-weight;
    @baseline;
}

/* htest selector .test3, font-size: 14px; line-height: 3; */

@ihamster {
    font-size: 14px;
    line-height: 3;
}

.test3 {
    font-family: @font-family;
    color: @font-color;
    font-weight: @font-weight;
    @baseline;
}

/* htest selector .test4,    font-size: 14px; line-height: 3; unit: em; */

@ihamster {
    font-size: 14px;
    line-height: 3;
    unit: em;
}

.test4 {
    font-family: @font-family;
    color: @font-color;
    font-weight: @font-weight;
    @baseline;
}

/* htest selector .test5, font-size: 14px; line-height: 3; unit: rem; rem-fallback: true; */

@ihamster {
    font-size: 14px;
    line-height: 3;
    unit: rem;
    rem-fallback: true;
    legacy-browsers: false;
}

.test5 {
    font-family: @font-family;
    color: @font-color;
    font-weight: @font-weight;
    @baseline;
}

/* htest html, font-size, 14px; line-height: 3; unit: rem; rem-fallback: true; */

@baseline html;

/* htest selector .test6, font-size: 14px; line-height: 1.5; unit: rem; px-fallback: false; */

@ihamster {
    font-size: 14px;
    line-height: 1.5;
    unit: rem;
    rem-fallback: false;
}

.test6 {
    font-family: @font-family;
    color: @font-color;
    font-weight: @font-weight;
    @baseline;
}

/* htest html, font-size: 14px; line-height: 1.5; unit: rem; rem-fallback: false; */

@baseline html;

/* htest html, font-size: 14px; line-height: 1.5; unit: rem; rem-fallback: false; px-baseline: true; */

@ihamster {
    px-baseline: true;
}

@baseline html;

/* htest html, font-size: 14px; line-height: 1.5; unit: rem; rem-fallback: true; px-baseline: true; */

@ihamster {
    rem-fallback: true;
}

@baseline html;