/* htest properties: inline; @nowrap; */

test1 {
  white-space: nowrap;
}

test2 {
  white-space: nowrap;
    font-size: 16px;
}

/* htest properties: inline; @forcewrap; */

test3 {
  white-space: pre;
  white-space: pre-line;
  white-space: pre-wrap;
  word-wrap: break-word;
}

test4 {
  white-space: pre;
  white-space: pre-line;
  white-space: pre-wrap;
  word-wrap: break-word;
    font-size: 16px;
}

/* htest properties: inline; @ellipsis; */

test5 {
  overflow: hidden;
  text-overflow: ellipsis;
}

test6 {
  overflow: hidden;
  text-overflow: ellipsis;
    font-size: 16px;
}

/* htest properties: extend; @nowrap; */

test7, test8 {
  white-space: nowrap;
}

test8 {
    font-size: 16px;
}

/* htest properties: extend; @forcewrap; */

test9, test10 {
  white-space: pre;
  white-space: pre-line;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* htest properties: extend; @ellipsis; */

test11, test12 {
  overflow: hidden;
  text-overflow: ellipsis;
}

test12 {
    font-size: 16px;
}

test13 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
    font-size: 16px;
}

/* htest properties: extend; @hyphens; */

test14 {
  word-wrap: break-word;
  overflow-wrap: break-word;
  hyphens: auto;
}

/* htest properties: extend; @hyphens true; */

test15 {
  word-wrap: break-word;
  overflow-wrap: break-word;
  word-break: break-all;
  hyphens: auto;
}

/* htest properties: extend; @break-word; */

test16 {
  word-wrap: break-word;
  overflow-wrap: break-word;
  word-break: break-all;
}

/* htest properties: extend; @center; */

test17 {
  display: block;
  margin: auto;
}

/* htest properties: extend; @center flex; */

test18 {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* htest properties: extend; @center transform; */

test19 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* htest properties: extend; @hide; */

test20 {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

/* htest properties: extend; @hide text; */

test21 {
  overflow: hidden;
  text-indent: 101%;
  white-space: nowrap;
}