/*@normalize;*/
@reset;
@box-sizing-reset;
nav {
    user-select:none;
}
/* reset styles for typography if using normalize */
/*h1, h2, h3, h4, h5, h6, p, a, dl, dt, dd, ol, ul, li,*/
/*table, caption, tbody, tfoot, thead, tr, th, td, img, iframe {*/
    /*margin: 0;*/
    /*padding: 0;*/
    /*border: 0;*/
    /*font: inherit;*/
    /*vertical-align: baseline;*/
/*}*/

body {
    font-family: @font-family;
    color: @font-color;
    background-color: #dee6ea;
    background-image: url("data:image/svg+xml,%3Csvg xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27 viewBox%3D%270 0 251.57 245.16%27%3E%3Cpath fill%3D%27%235a585e%27 fill-opacity%3D%270.2%27 fill-rule%3D%27evenodd%27 d%3D%27M120.2 235.39l5.86-7.34-4.69-5.71a28.83 28.83 0 0 0 2-5.46l7.28-1.21.43-9.39-7.14-1.86a28.22 28.22 0 0 0-1.54-5.61l5.19-5.27-5.18-7.84-6.88 2.68c-.68-.67-1.42-1.3-2.18-1.91a24.82 24.82 0 0 0-2.37-1.7l1.08-7.31-8.79-3.3-4 6.21a30 30 0 0 0-5.81-.27l-3.36-6.52-9 2.5.44 7.38a29.45 29.45 0 0 0-4.88 3.2l-6.6-3.29-5.86 7.32 4.68 5.72a27.77 27.77 0 0 0-2 5.43l-7.29 1.23-.42 9.37 7.03 1.89a29.37 29.37 0 0 0 1.54 5.6l-5.16 5.27 5.17 7.83 6.87-2.68a29 29 0 0 0 2.18 1.94c.76.61 1.55 1.17 2.37 1.7l-1.09 7.28 8.82 3.31 4-6.21a29.55 29.55 0 0 0 5.81.24l3.42 6.55 9.06-2.49-.43-7.37a30.18 30.18 0 0 0 4.85-3.2zm-8.32-15.37l-.86-1.07-5.5-6.86a10.81 10.81 0 0 0-.9-7.77l3.88-8 .55-1.14a19.87 19.87 0 0 1 2.82 24.85zm-21.38-4.88a7.4 7.4 0 1 1 10.39-1.16 7.39 7.39 0 0 1-10.4 1.17zm15.34-22.5l-1 .79-6.91 5.54a10.78 10.78 0 0 0-7.77.83l-7.96-3.83-1.23-.6a19.87 19.87 0 0 1 24.86-2.72zm-27.38 5.94l.87 1.08 5.44 6.78a10.79 10.79 0 0 0 .86 8.07l-3.77 7.75-.66 1.32a19.87 19.87 0 0 1-2.74-25zm5.88 27.53l1.16-.93 6.7-5.44a10.79 10.79 0 0 0 8.06-.94l7.81 3.8 1.25.61a19.87 19.87 0 0 1-24.98 2.85zM108.87 46.14l-4.54-13.65-11.24 1.27a44.17 44.17 0 0 0-5.31-7.18l4.52-10.37-11.71-8.38-8.39 7.63a43.23 43.23 0 0 0-8.49-2.69L61.31 1.7l-14.4.12-2.29 11.06c-1.43.32-2.86.74-4.27 1.21a38 38 0 0 0-4.15 1.62l-8.49-7.48-11.57 8.54 4.66 10.3a45.94 45.94 0 0 0-5.19 7.24L4.34 33.23 0 46.93l9.84 5.59a45.11 45.11 0 0 0 0 8.93L.2 67.19l4.49 13.63 11.26-1.24a42.54 42.54 0 0 0 5.25 7.17l-4.5 10.39 11.7 8.35 8.38-7.61a45 45 0 0 0 8.5 2.7l2.46 11 14.37-.11 2.29-11.07a44.45 44.45 0 0 0 4.31-1.18c1.41-.47 2.8-1 4.16-1.63l8.45 7.47 11.57-8.48-4.69-10.31a45.27 45.27 0 0 0 5.16-7.26l11.27 1.08 4.36-13.72-9.79-5.59a46.24 46.24 0 0 0-.06-8.9zM82.2 44.01l-2.09.21-13.42 1.36a16.56 16.56 0 0 0-10.73-5.32l-7-11.68-1-1.67a30.44 30.44 0 0 1 34.24 17.1zm-24.1 23.4a11.33 11.33 0 1 1 7.16-14.33 11.33 11.33 0 0 1-7.18 14.33zM41.98 28.93l.22 1.93 1.36 13.5a16.51 16.51 0 0 0-5.41 10.68L26.57 62l-1.8 1.08a30.43 30.43 0 0 1 17.21-34.15zM26.71 69l2.12-.21 13.24-1.33a16.53 16.53 0 0 0 11.13 5.63l6.81 11.31 1.18 2A30.43 30.43 0 0 1 26.71 69zm40.27 15.41l-.23-2.27L65.43 69a16.53 16.53 0 0 0 5.52-11.14L82.35 51l1.85-1.09a30.44 30.44 0 0 1-17.22 34.5zM247.64 227.51l3.22-8.27-5.83-3.83a27.16 27.16 0 0 0 .31-5.5l6.22-3.14-2.25-8.59-7 .33a26.56 26.56 0 0 0-3-4.62l3.2-6.21-6.87-5.61-5.45 4.35c-.8-.41-1.64-.78-2.5-1.11a23.71 23.71 0 0 0-2.61-.87l-1-6.86-8.85-.5-1.85 6.72a28.12 28.12 0 0 0-5.31 1.39l-4.92-4.95-7.45 4.79 2.5 6.55a27.7 27.7 0 0 0-3.5 4.26l-6.87-1.11-3.22 8.25 5.83 3.84a26.27 26.27 0 0 0-.32 5.48l-6.23 3.16 2.26 8.57 7-.31a27.72 27.72 0 0 0 3 4.62l-3.18 6.2 6.86 5.61 5.44-4.35c.81.41 1.64.79 2.51 1.13s1.73.62 2.61.87l1.07 6.87 8.84.51 1.85-6.72a28 28 0 0 0 5.3-1.42l4.92 4.95 7.47-4.79-2.45-6.53a28.92 28.92 0 0 0 3.47-4.25zm-36.74 1.07a18.77 18.77 0 1 1 24.3-10.67 18.76 18.76 0 0 1-24.3 10.67z%27%2F%3E%3Cpath fill%3D%27%304458%27 fill-opacity%3D%270.3%27 d%3D%27M223.12 197.26a14.85 14.85 0 1 0 8.44 19.23 14.85 14.85 0 0 0-8.44-19.23zm-10 25.55a12.58 12.58 0 1 1 16.28-7.15 12.57 12.57 0 0 1-16.25 7.15zM178.07 110.25v-9.07l-6.87-1.47a27.94 27.94 0 0 0-1.73-5.35l4.72-5.3-5.29-7.34-6.49 2.86a27 27 0 0 0-4.5-3.3l.73-7.1-8.56-2.79-3.54 6.19c-.91-.09-1.84-.13-2.77-.13a23.37 23.37 0 0 0-2.79.14l-3.55-6.16-8.54 2.81.73 7.08a28.63 28.63 0 0 0-4.5 3.3l-6.47-2.88-5.27 7.34 4.73 5.3a28.4 28.4 0 0 0-1.73 5.35l-6.89 1.5v9l6.91 1.5a26.86 26.86 0 0 0 1.71 5.33l-4.71 5.32 5.29 7.32 6.47-2.89a28.16 28.16 0 0 0 4.5 3.3l-.71 7.08 8.54 2.79 3.54-6.17c.91.09 1.84.15 2.79.15s1.86-.06 2.79-.15l3.54 6.15 8.54-2.79-.73-7.08a28.45 28.45 0 0 0 4.48-3.31l6.47 2.88 5.29-7.28-4.72-5.3a29.5 29.5 0 0 0 1.72-5.33zm-19.43-16.47a19.17 19.17 0 0 1 3.95 9.16h-4a15.16 15.16 0 0 0-2.83-6.36zm-6.8 21.91a12.64 12.64 0 0 1-6 2.72v-1.12a11.56 11.56 0 0 0 5.17-2.37zm-15.3-20.53a12.59 12.59 0 0 1 5.16-2.11v1.12a11.53 11.53 0 0 0-4.35 1.77zm-4.07 7.77h-1.12a12.84 12.84 0 0 1 2.19-4.84l.8.77a11.75 11.75 0 0 0-1.87 4.08zm-.25 4.21a11.76 11.76 0 0 0 1.6 4.69l-.8.77a12.84 12.84 0 0 1-1.9-5.46zm1.7-1.41a9.86 9.86 0 1 1 9.86 10 9.91 9.91 0 0 1-9.86-9.99zm21.17-2.8a11.76 11.76 0 0 0-1.82-4l.8-.77a12.84 12.84 0 0 1 2.14 4.77zm.25 4.21h1.1a12.86 12.86 0 0 1-1.85 5.39l-.81-.78a11.75 11.75 0 0 0 1.56-4.6zm-9.47-20.46a18.81 18.81 0 0 1 9.83 4.12l-2.9 2.78a14.89 14.89 0 0 0-6.93-2.88zm5.23 8.54l-.8.77a11.52 11.52 0 0 0-4.43-1.82v-1.11a12.6 12.6 0 0 1 5.23 2.16zm-9.4-8.54v4a14.89 14.89 0 0 0-6.86 2.9l-2.9-2.79a18.81 18.81 0 0 1 9.76-4.11zm-12.71 7l2.88 2.77a15.16 15.16 0 0 0-2.86 6.46h-4a19.18 19.18 0 0 1 3.98-9.2zm-.56 23.32a19.19 19.19 0 0 1-3.59-9.88h4a15.17 15.17 0 0 0 2.52 7.1zm13.27 7.77a18.84 18.84 0 0 1-10.5-4.63l2.88-2.77a14.91 14.91 0 0 0 7.58 3.4zm-5.9-9l.8-.77a11.53 11.53 0 0 0 5.1 2.31v1.12a12.64 12.64 0 0 1-5.9-2.68zm10.06 9v-4a14.91 14.91 0 0 0 7.64-3.46l2.88 2.77a18.85 18.85 0 0 1-10.51 4.72zm13.34-7.81l-2.9-2.79a15.18 15.18 0 0 0 2.47-7h4a19.19 19.19 0 0 1-3.57 9.79zM236.11 53.31v-6.47l-4.91-1.06a20 20 0 0 0-1.24-3.82l3.37-3.79-3.78-5.24-4.6 2.07a19.25 19.25 0 0 0-3.21-2.36l.46-5.06-6.11-2-2.53 4.4c-.65-.06-1.31-.09-2-.09a16.68 16.68 0 0 0-2 .1l-2.47-4.41-6.1 2 .52 5.06A20.45 20.45 0 0 0 198.3 35l-4.62-2.06-3.76 5.24 3.38 3.78a20.29 20.29 0 0 0-1.24 3.82l-4.92 1.07v6.46l4.94 1.07a19.19 19.19 0 0 0 1.22 3.81l-3.37 3.8 3.77 5.23 4.62-2.06a20.11 20.11 0 0 0 3.23 2.42l-.51 5 6.1 2 2.52-4.4c.65.06 1.32.1 2 .1s1.33 0 2-.1l2.54 4.4 6.1-2-.52-5.06a20.31 20.31 0 0 0 3.2-2.37l4.62 2.06 3.78-5.24-3.37-3.79a21.08 21.08 0 0 0 1.19-3.8zM222.2 41.58a13.7 13.7 0 0 1 2.82 6.54h-2.82a10.83 10.83 0 0 0-2-4.56zm-4.86 15.65a9 9 0 0 1-4.26 1.94v-.8a8.25 8.25 0 0 0 3.69-1.69zm-10.88-14.65a9 9 0 0 1 3.68-1.51v.8a8.23 8.23 0 0 0-3.11 1.26zm-2.9 5.55h-.8a9.18 9.18 0 0 1 1.56-3.46l.57.55a8.39 8.39 0 0 0-1.34 2.87zm-.18 3a8.4 8.4 0 0 0 1.14 3.35l-.57.55a9.18 9.18 0 0 1-1.35-3.9zm1.21-1a7 7 0 1 1 7 7.11 7.08 7.08 0 0 1-7-7.15zm15.12-2a8.4 8.4 0 0 0-1.3-2.86l.57-.55a9.17 9.17 0 0 1 1.53 3.41zm.18 3h.78a9.19 9.19 0 0 1-1.32 3.85l-.57-.55a8.4 8.4 0 0 0 1.1-3.33zm-6.77-14.62a13.43 13.43 0 0 1 7 2.94l-2.07 2a10.63 10.63 0 0 0-4.95-2.06zm3.74 6.1l-.57.55a8.22 8.22 0 0 0-3.16-1.3v-.8a9 9 0 0 1 3.72 1.52zm-6.71-6.1v2.88a10.63 10.63 0 0 0-4.9 2l-2.07-2a13.43 13.43 0 0 1 6.96-2.92zm-9.08 5l2.06 2a10.83 10.83 0 0 0-2 4.61h-2.93a13.7 13.7 0 0 1 2.86-6.62zm-.4 16.66a13.71 13.71 0 0 1-2.56-7.06h2.84a10.84 10.84 0 0 0 1.8 5.07zm9.48 5.55a13.45 13.45 0 0 1-7.47-3.33l2.06-2a10.65 10.65 0 0 0 5.41 2.43zm-4.21-6.46l.57-.55a8.23 8.23 0 0 0 3.64 1.65v.8a9 9 0 0 1-4.22-1.92zm7.19 6.46v-2.89a10.64 10.64 0 0 0 5.46-2.47l2.06 2a13.46 13.46 0 0 1-7.53 3.34zm9.51-5.6l-2.07-2a10.85 10.85 0 0 0 1.76-5h2.87a13.71 13.71 0 0 1-2.57 6.98zM250.06 121.73l-2.07-6.09-5 .59a19.75 19.75 0 0 0-2.39-3.2l2-4.65-5.25-3.72-3.7 3.43a19.25 19.25 0 0 0-3.8-1.18l-1.13-4.94-6.42.09-1 5c-.64.15-1.27.34-1.9.55a16.78 16.78 0 0 0-1.85.74l-3.81-3.33-5.13 3.85 2.11 4.59a20.44 20.44 0 0 0-2.29 3.25l-5-.45-1.89 6.14 4.41 2.47a20.08 20.08 0 0 0 .05 4l-4.32 2.59 2.07 6.08 5-.58a19 19 0 0 0 2.38 3.19l-2 4.66 5.25 3.71 3.71-3.43a20.1 20.1 0 0 0 3.8 1.18l1.14 4.93 6.41-.08 1-5c.64-.15 1.28-.32 1.92-.54s1.24-.46 1.85-.74l3.8 3.32 5.13-3.84-2.11-4.59a20.31 20.31 0 0 0 2.27-3.26l5 .45 1.9-6.15-4.4-2.48a20.86 20.86 0 0 0-.06-4zm-16.86-6.6a13.57 13.57 0 0 1 4.76 5.25l-2.72.92a10.74 10.74 0 0 0-3.36-3.65zm.41 16.29a9 9 0 0 1-3.41 3.16l-.26-.75a8.28 8.28 0 0 0 3-2.78zm-15-10.28a9 9 0 0 1 3-2.6l.26.75a8.26 8.26 0 0 0-2.54 2.19zm-1 6.16l-.76.26a9.09 9.09 0 0 1 .37-3.76l.71.33a8.32 8.32 0 0 0-.37 3.17zm.79 2.89a8.32 8.32 0 0 0 2.16 2.78l-.37.7a9.08 9.08 0 0 1-2.53-3.23zm.82-1.34a7 7 0 1 1 8.94 4.42 7.05 7.05 0 0 1-8.96-4.43zm13.68-6.74a8.33 8.33 0 0 0-2.14-2.27l.36-.7a9.09 9.09 0 0 1 2.54 2.72zm1.13 2.77l.74-.25a9.1 9.1 0 0 1 0 4l-.72-.34a8.31 8.31 0 0 0-.06-3.42zm-11.13-11.59a13.47 13.47 0 0 1 7.59.51l-1.29 2.54a10.66 10.66 0 0 0-5.34-.34zm5.49 4.54l-.37.7a8.25 8.25 0 0 0-3.41-.2l-.26-.75a9 9 0 0 1 4.04.25zm-8.31-3.58l.92 2.71a10.67 10.67 0 0 0-4 3.48l-2.6-1.21a13.47 13.47 0 0 1 5.69-4.99zm-7 7.65l2.58 1.2a10.73 10.73 0 0 0-.46 5l-2.72.92a13.58 13.58 0 0 1 .62-7.13zm5 15.8a13.58 13.58 0 0 1-4.69-5.82l2.69-.91a10.73 10.73 0 0 0 3.32 4.19zm10.75 2.17a13.49 13.49 0 0 1-8.13-.73l1.31-2.52a10.68 10.68 0 0 0 5.9.54zm-6.05-4.73l.36-.7a8.25 8.25 0 0 0 4 .38l.26.75a9 9 0 0 1-4.66-.43zm8.87 3.77l-.92-2.71a10.67 10.67 0 0 0 4.38-4.08l2.58 1.2a13.49 13.49 0 0 1-6.08 5.59zm7.22-8.33l-2.6-1.21a10.74 10.74 0 0 0 .06-5.29l2.69-.91a13.58 13.58 0 0 1-.19 7.41zM169.89 21.83l.61-4.45-3.4-1.2a13.52 13.52 0 0 0-.52-2.74l2.74-2.28-2.18-4-3.45 1a13.83 13.83 0 0 0-2.05-1.93l.84-3.43-4.14-2-2.2 2.78c-.45-.1-.92-.19-1.39-.25a12.53 12.53 0 0 0-1.42-.12L151.95 0l-4.5.79-.1 3.53a14.44 14.44 0 0 0-2.5 1.26l-3.08-1.86-3.16 3.23 2 2.93a14 14 0 0 0-1.23 2.51l-3.59.26-.59 4.47 3.39 1.21a13.16 13.16 0 0 0 .51 2.74l-2.74 2.28 2.18 4 3.46-1a14.07 14.07 0 0 0 2.05 1.93l-.83 3.43 4.13 2 2.2-2.78a13.81 13.81 0 0 0 1.4.27c.47.06.94.1 1.42.12l1.38 3.26 4.5-.78.1-3.53a14.48 14.48 0 0 0 2.49-1.32l3.07 1.86 3.17-3.23-2-2.92a14.53 14.53 0 0 0 1.22-2.5zm-7.36-4l-2-.27a7.6 7.6 0 0 0-5.91-7.61l.27-2a9.6 9.6 0 0 1 7.65 9.88zM152 23.58a6.35 6.35 0 0 1 1-12.66l1.49.2A6.353 6.353 0 0 1 152 23.58zm1.39-15.8l-.27 2a7.59 7.59 0 0 0-7.73 5.75l-2-.27a9.6 9.6 0 0 1 10-7.48zm-10.19 8.9l2 .27a7.6 7.6 0 0 0 5.91 7.63l-.27 2a9.59 9.59 0 0 1-7.64-9.9zm9.14 10l.27-2a7.6 7.6 0 0 0 7.73-5.75l2 .27a9.59 9.59 0 0 1-10.01 7.53zM46.89 208.83l.61-4.45-3.4-1.2a13.52 13.52 0 0 0-.52-2.74l2.74-2.28-2.18-4-3.45 1a13.83 13.83 0 0 0-2.05-1.93l.84-3.43-4.14-2-2.2 2.78c-.45-.1-.92-.19-1.39-.25a12.53 12.53 0 0 0-1.42-.12l-1.38-3.27-4.5.79-.1 3.53a14.44 14.44 0 0 0-2.5 1.32l-3.08-1.86-3.16 3.23 2 2.93a14 14 0 0 0-1.23 2.51l-3.59.26-.59 4.47 3.39 1.21a13.16 13.16 0 0 0 .51 2.74l-2.74 2.28 2.18 4 3.46-1a14.07 14.07 0 0 0 2.05 1.93l-.83 3.43 4.13 2 2.2-2.78a13.81 13.81 0 0 0 1.4.27c.47.06.94.1 1.42.12l1.38 3.26 4.5-.78.1-3.53a14.48 14.48 0 0 0 2.49-1.32l3.07 1.86 3.17-3.23-2-2.92a14.53 14.53 0 0 0 1.22-2.5zm-7.36-4l-2-.27a7.6 7.6 0 0 0-5.91-7.61l.27-2a9.6 9.6 0 0 1 7.65 9.88zM29 210.58a6.35 6.35 0 0 1 1-12.66l1.49.2A6.353 6.353 0 0 1 29 210.58zm1.39-15.78l-.27 2a7.59 7.59 0 0 0-7.73 5.75l-2-.27a9.6 9.6 0 0 1 10-7.5zm-10.19 8.88l2 .27a7.6 7.6 0 0 0 5.91 7.63l-.27 2a9.59 9.59 0 0 1-7.64-9.9zm9.14 10l.27-2a7.6 7.6 0 0 0 7.73-5.75l2 .27a9.59 9.59 0 0 1-10.01 7.53zM173.29 150.58l-5.95-2.39-2.81 4.19a19.69 19.69 0 0 0-4-.26l-2.2-4.54-6.22 1.57.19 5a19.31 19.31 0 0 0-3.36 2.11l-4.46-2.35-4.11 4.93 3.1 4c-.3.58-.57 1.18-.82 1.8a16.54 16.54 0 0 0-.64 1.88l-5 .73-.43 6.39 4.84 1.38a20.67 20.67 0 0 0 1 3.85l-3.61 3.52 3.41 5.42 4.73-1.73a20.27 20.27 0 0 0 3.05 2.55l-.85 5 5.94 2.38 2.82-4.18a19 19 0 0 0 4 .27l2.23 4.52 6.21-1.57-.17-5a20 20 0 0 0 3.36-2.11l4.46 2.34 4.1-4.92-3.11-4a19.81 19.81 0 0 0 .84-1.81c.24-.62.45-1.24.64-1.88l5-.72.44-6.39-4.84-1.38a20.27 20.27 0 0 0-1-3.84l3.61-3.52-3.4-5.43-4.73 1.73a20.82 20.82 0 0 0-3-2.54zm-5.76 10.26l-.44 2.59a10.76 10.76 0 0 1 1.59 1.33l2.48-.9 1.78 2.84-1.9 1.88a10.68 10.68 0 0 1 .52 2l2.54.72-.23 3.35-2.6.38c-.1.33-.21.67-.34 1s-.28.64-.44.95l1.62 2.08-2.15 2.52-2.33-1.22a10.52 10.52 0 0 1-1.76 1.11l.09 2.64-3.25.82-1.17-2.35a9.9 9.9 0 0 1-2.07-.14l-1.47 2.14-3.11-1.25.45-2.6a10.31 10.31 0 0 1-1.59-1.34l-2.48.91-1.78-2.84 1.89-1.84a10.6 10.6 0 0 1-.51-2l-2.53-.72.22-3.35 2.61-.38a8.44 8.44 0 0 1 .34-1 10.26 10.26 0 0 1 .43-.94l-1.62-2.08 2.15-2.58 2.34 1.23a10.22 10.22 0 0 1 1.76-1.11l-.1-2.63 3.26-.82 1.16 2.36a10.16 10.16 0 0 1 2.08.14l1.47-2.19zM59.33 126.93l-5.95-2.35-2.81 4.19a19.69 19.69 0 0 0-4-.26l-2.22-4.52-6.15 1.53.19 5a19.31 19.31 0 0 0-3.36 2.11l-4.46-2.35-4.11 4.93 3.1 4c-.3.58-.57 1.18-.82 1.8a16.54 16.54 0 0 0-.64 1.88l-5 .73-.43 6.39 4.84 1.38a20.67 20.67 0 0 0 1 3.85l-3.61 3.52 3.3 5.42 4.73-1.73a20.27 20.27 0 0 0 3.05 2.55l-.85 5 5.94 2.38 2.82-4.18a19 19 0 0 0 4 .27l2.23 4.52 6.21-1.57-.17-5a20 20 0 0 0 3.36-2.11l4.46 2.27 4.1-4.92-3.11-4a19.81 19.81 0 0 0 .84-1.81c.24-.62.45-1.24.64-1.88l5-.72.44-6.39-4.84-1.38a20.27 20.27 0 0 0-1-3.84l3.61-3.52-3.46-5.41-4.73 1.73a20.82 20.82 0 0 0-3-2.54zm-5.76 10.26l-.44 2.59a10.76 10.76 0 0 1 1.59 1.33l2.48-.9 1.78 2.84-1.89 1.84a10.68 10.68 0 0 1 .52 2l2.54.72-.23 3.35-2.6.38c-.1.33-.21.67-.34 1s-.28.64-.44.95l1.62 2.08-2.14 2.57-2.33-1.22a10.52 10.52 0 0 1-1.76 1.11l.09 2.64-3.25.82-1.17-2.37a9.9 9.9 0 0 1-2.07-.14l-1.47 2.19-3.11-1.25.45-2.6a10.31 10.31 0 0 1-1.59-1.34l-2.48.91-1.78-2.84 1.89-1.84a10.6 10.6 0 0 1-.51-2l-2.53-.72.22-3.35 2.58-.36a8.44 8.44 0 0 1 .34-1 10.26 10.26 0 0 1 .43-.94l-1.63-2.06 2.15-2.58 2.34 1.23a10.22 10.22 0 0 1 1.76-1.11l-.1-2.63 3.26-.82 1.16 2.36a10.16 10.16 0 0 1 2.08.14l1.47-2.19z%27%2F%3E%3C%2Fsvg%3E");
    background-size: 256px 256px;
    background-attachment: fixed;
    font-weight: @font-weight;
    height: 100%;
    position: relative;
}

@keyframes rotateCircle {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

@keyframes opacityCircle {
    0% {
        opacity: 1;
    }
    25% {
        opacity: 0.7;
    }
    50% {
        opacity: 0.9;
    }
    75% {
        opacity: 0.8;
    }
    100% {
        opacity: 1;
    }
}

.loading {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: #fff;
    z-index: 9999;
}

.loading__wrapper {
    position: relative;
    top: 50%;
    left: 50%;
    width: 7em;
    height: 7em;
    margin-left: -3.5em;
    margin-top: -3.5em;
    background: @code-color;
    border-radius: 50%;
}

.loading__wrapper-circle_1,
.loading__wrapper-circle_2,
.loading__wrapper-circle_3,
.loading__wrapper-circle_4,
.loading__wrapper-circle_5 {
    position: absolute;
    top: 3.25em;
    left: 3.25em;
    width: .5em;
    height: .5em;
    border-radius: 50%;
    transform: translateZ(0);
    backface-visibility: hidden;
    will-change: opacity, transform;
}

.loading__wrapper-circle_1 {
    margin-left: .75em;
    margin-top: .25em;
    transform-origin: -.5em 0;
    background: #00C176;
    box-shadow: 0 0 1em 2px #00C176;
    animation: rotateCircle 6s ease-in-out infinite,
    opacityCircle 3s linear infinite;
}

.loading__wrapper-circle_2 {
    margin-left: 1.25em;
    margin-top: .25em;
    transform-origin: -1em 0;
    background: #FF003C;
    box-shadow: 0 0 1em 2px #FF003C;
    animation: rotateCircle 6s ease-in-out infinite,
    opacityCircle 3s linear infinite;
    animation-delay: 0.25s;
}

.loading__wrapper-circle_3 {
    margin-left: 1.75em;
    margin-top: .25em;
    transform-origin: -1.5em 0;
    background: #88C100;
    box-shadow: 0 0 1em 2px #88C100;
    animation: rotateCircle 6s ease-in-out infinite,
    opacityCircle 3s linear infinite;
    animation-delay: 0.5s;
}

.loading__wrapper-circle_4 {
    margin-left: 2.25em;
    margin-top: .25em;
    transform-origin: -2em 0;
    background: #22a2c9;
    box-shadow: 0 0 1em 2px #22a2c9;
    animation: rotateCircle 6s ease-in-out infinite,
    opacityCircle 3s linear infinite;
    animation-delay: 0.75s;
}

.loading__wrapper-circle_5 {
    margin-left: 2.75em;
    margin-top: .25em;
    transform-origin: -2.5em 0;
    background: #FABE28;
    box-shadow: 0 0 1em 2px #FABE28;
    animation: rotateCircle 6s ease-in-out infinite,
    opacityCircle 3s linear infinite;
    animation-delay: 1s;
}

@ruler;