@keyframes fadeIn {
    from {
        opacity: 0.2;
    }
    to {
        opacity: 1;
    }
}

.animation__fadeIn {
    will-change: opacity;
    animation: fadeIn 1s ease-in;
    animation-fill-mode: forwards;
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0.2;
    }
}

.animation__fadeOut {
    will-change: opacity;
    animation: fadeOut 1s ease-in;
    animation-fill-mode: forwards;
}

.wrapper {
    margin: auto;
    font-size: fs base;
    max-width: 51em;
    padding-left: spacing(2);
}

.content {
    height: 100%;
    overflow: hidden;
    background: @wrapper-background;
    padding: 0 spacing(1);
}

.content__section {
    /*box-shadow: 0 0 spacing(1) 3px rgba(0,0,0, 0.1);*/
    background: @wrapper-background;
    /*border-radius: spacing(.25);*/
}


.header {
    z-index: 1200;
    position: relative;
    height: 100vh;
    width: 100%;
}

@keyframes panoramMove {
    from {
        transform: translateX(-12.5%);
    }
    to {
        transform: translateX(-31.25%);
    }
}

.header__background {
    position: relative;
    overflow: hidden;
}

.header__background-image {
    height: 100vh;
    width: 200%;
    background: url("../images/panoram.jpg") center 0;
    background-size: auto 100vh;
    transform: translateZ(0);
    backface-visibility: hidden;
    will-change: transform;
    animation: panoramMove 60s linear;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

@keyframes svgAnimation {

    from {
        stroke-width: 1px;
        fill-opacity: 0;
        stroke-opacity: 1;
        stroke-dasharray: 0%, 100%;
        stroke-dashoffset: 0%;
    }

    to {
        fill-opacity: 1;
        stroke-opacity: 0;
        stroke-dasharray: 100%, 0%;
        stroke-dashoffset: 100%;
    }

}

.header__logo {
    display: block;
    height: spacing(3);
    margin: auto;
}

.header__logo-path_1,
.header__logo-path_2 {
    stroke-width: 0;
    transform: translateZ(0);
    backface-visibility: hidden;
    will-change: fill-opacity, stroke-opacity, stroke-dasharray, stroke-dashoffset;
    animation: svgAnimation 3s ease-in;
    animation-delay: 1s;
}

.header__logo-path_1 {
    fill: #fff;
    stroke: #fff;
}

.header__logo-path_2 {
    fill: #0B4EC2;
    stroke: #0B4EC2;
}

@keyframes headerAirballon {
    0% {
        transform: translate(0, 0);
    }
    6.25% {
        transform: rotate(5deg) translate(base(1), -base(0.5));
    }

    12.5% {
        transform: rotate(-2deg) translate(base(2.5), -base(1.5));
    }

    18.75% {
        transform: rotate(-3deg) translate(base(4), base(-1));
    }

    25% {
        transform: rotate(-3deg) translate(base(4), -base(0.75));
    }

    31.25% {
        transform: rotate(-2deg) translate(base(5), -base(0.5));
    }

    37.5% {
        transform: rotate(-2deg) translate(base(2.5), -base(1));
    }

    43.75% {
        transform: rotate(3deg) translate(base(1), -base(0.5));
    }

    50% {
        transform: rotate(4deg) translate(0, 0);
    }

    56.25% {
        transform: rotate(-5deg) translate(-base(1), -base(0.5));
    }

    62.5% {
        transform: rotate(2deg) translate(-base(2.5), -base(1.5));
    }

    68.75% {
        transform: rotate(3deg) translate(-base(4), -base(0.5));
    }

    75% {
        transform: rotate(3deg) translate(-base(4), -base(0.75));
    }

    81.25% {
        transform: rotate(2deg) translate(-base(5), -base(0.5));
    }

    87.5% {
        transform: rotate(2deg) translate(-base(2.5), -base(1));
    }

    93.75% {
        transform: rotate(-3deg) translate(-base(1), -base(0.5));
    }

    100% {
        transform: rotate(-4deg) translate(0, 0);
    }
}

.header__airballon {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -spacing(4);
    margin-top: -spacing(6);
    height: spacing(8);
    width: spacing(8);
    background: url("../images/airballon.png") no-repeat center center;
    background-size: cover;
    transform: translateZ(0);
    backface-visibility: hidden;
    will-change: transform;
    animation: headerAirballon 40s ease-in-out;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

.header__container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: spacing(8);
}



.header__getstarted {
    height: spacing(2);
    margin-top: spacing(1);
    text-align: center;
}



.header__search {
    display: inline-block;
    position: relative;
    margin: 0;
    padding: 0;
    width: spacing(8);
    height: spacing(1);
}
.header__search-input {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    box-sizing: border-box;
    adjust-font-size: fontSize t;
    width: 100%;
    border-radius: leading(.2);
    font-weight: 500;
    text-align: center;
    appearance: none;
    border: none;
    color: #3c5166;
    box-shadow: inset 0 1px 3px #ddd;
}
.header__search-button {
    position: absolute;
    top: 0;
    right: spacing(.5);
    display: inline-block;
    vertical-align: middle;
    border: 0;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
}



.header__social {
    height: spacing(1);
    margin-top: spacing(1);
    text-align: center;
    color: @font-color;
    /*background-color: rgba(0, 0, 1, 0.4);*/
    /*border-radius: spacing(.2);*/
}

.header__social-list {
    display: inline-block;
    margin: 0 0 0 spacing(.5);
    padding: 0;
    vertical-align: middle;
    text-align: center;
    list-style: none;
}
.header__social-item {
     display: inline-block;
     margin-right: spacing(.5);
     background-color: #fff;
     height: spacing(1);
     width: spacing(1);
     border-radius: 50%;
     transition: all .3s ease-in-out;
     list-style: none;
 }
.header__social-item:hover {
     box-shadow: 0 0 spacing(.5) 5px #dbf1fc;
 }
.header__social-link {
     color: #fff;
 }

.header__social-link:hover{
     color: @sheader-color;
 }

.sidebar__navigation {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: spacing(2);
    z-index: 1000;
    overflow: hidden;
    transition: width .3s ease-in;
    transform: translateZ(0);
    backface-visibility: hidden;
    background: @footer-color;
}

.sidebar__navigation:hover,
.sidebar__navigation.expanded {
    width: spacing(11);
    overflow: visible;
}

.sidebar__navigation.hide {
    width: spacing(2);
    overflow: hidden;
}
.sidebar__navigation-list {
    margin-top: spacing(2.875);
    padding: 0 spacing(.5);
}

.sidebar__navigation-item {
    position: relative;
    display: block;
    width: spacing(11);
    /*adjust-font-size: fontsize small;*/
    list-style: none;
    line-height: lheight(1.25);
    margin: spacing(.75) 0;
}

.sidebar__navigation-item_link:hover,
.sidebar__navigation-item_link:active
{
    background-color: #fff;
    color: @header-color;
    border-right: spacing(.25) solid #FFCF00;
}

.sidebar__navigation-item_link:hover .sidebar__navigation-item_icon,
.sidebar__navigation-item_link:active .sidebar__navigation-item_icon {
    filter: invert(80%);
}
.sidebar__navigation-item_link {
    display: block;
    width: spacing(10);
    color: #fff;
    text-decoration: none;
    transition: all .1s ease-in;
    transform: translateZ(0) scale(1, 1);
}

.sidebar__navigation-item_text {
    color: inherit;
    width: 100%;
    padding-left: spacing(.5);
}

.sidebar__navigation-item_icon {
    padding-right: spacing(1);
}

.footer {
    overflow: hidden;
    padding: spacing(1.5, 1);
    background: @footer-color;
    width: 100%;
    color: #fff;
    text-align: center;
}

.footer-link {
    adjust-font-size: fs base;
    color: #fff;
    text-decoration: none;
}

.footer-link:hover {
     color: @header-color;
     text-decoration: underline;
 }