/* Buttons source code. */

%button {
    display: inline-block;
    adjust-font-size: fs t;
    /*Padding minus border size*/
    padding: spacing(.2, 1.3);
    margin-top: spacing(.3);
    margin-bottom: spacing(.3);
    border-radius: leading(.25);
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
    box-shadow: 0 leading(.1, .25) rgba(0, 0, 0, 0.25);
    transition: all .3s ease-in-out;
}

@define-mixin button $name, $color {
    .button-$name {
        @extend %button;
        background-color: $color;
        color: #fff;

    /*border: leading(.1) solid $color;*/
    }
    .button-$name:hover {
         background-color: @background-color;
         color: $color;
         transition: all .3s ease-in-out;
    }
}

@mixin button blue, @header-color ;
@mixin button gray, @font-color ;
@mixin button violet, #4257E3;

/* Blocks source code. */

%block {
    text-align: left;
    clear: both;
    border-radius: spacing(.25);
    overflow: hidden;
}

.block-info {
    @extend %block;
    adjust-font-size: fs small;
    margin-bottom: spacing(1 fs small);
    @hyphens;
    /*font-style: italic;*/
    padding: spacing(1 fs small);
    background-color: @block-color;
    box-shadow: inset 0 0 0 1px #EAF6FB;
}

@media screen and (min-width: 480px) {
    .block-info {
        padding-left: spacing(3.5 fs small);
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' preserveAspectRatio='none slice' viewBox='0 0 8 8'%3E%3Cpath fill='%2302b3e4' d='M4.4 5.324h-.8v-2.46h.8zm0 1.42h-.8V5.89h.8zM3.76.63L.04 7.075c-.115.2.016.425.26.426h7.397c.242 0 .372-.226.258-.426C6.726 4.924 5.47 2.79 4.253.63c-.113-.174-.39-.174-.494 0z'/%3E%3C/svg%3E");
        background-size: spacing(1.5 fs small, 1.5 fs small);
        background-repeat: no-repeat;
        background-position: spacing(1 fs small) center;
    }
}

.block-command {
    @extend %block;
    adjust-font-size: fs small;
    margin-bottom: spacing(1 fs small);
    padding: spacing(1 fs small);
    background: @code-color;
    color: @font-color;
    font-family: "Roboto Mono", Inconsolata, monospace;
    font-weight: 500;
    text-align: left;
    box-shadow: inset 0 0 0 1px #f5f5f5;
    /*border-left: leading(.35) solid @header-color;*/
}

.block-code {
    adjust-font-size: fs small;
    margin-bottom: spacing(1 fs small);
    padding: spacing(1 fs small);
    @extend %block;
    background: @code-color;
    color: @font-color;
    box-shadow: inset 0 0 0 1px #f5f5f5;
}

.block-margin {
    margin-bottom: spacing(1);
}

.ellipsis {
    adjust-font-size: fs small;
    margin-bottom: spacing(1);
    background: @block-color;
    box-shadow: inset 0 0 0 1px #EAF6FB;
    text-align: left;
    font-weight: 700;
    padding: spacing(1);
    width: spacing(8);
    border-radius: spacing(.25);
    @nowrap;
    @ellipsis;
}

.block-left {
    display: block;
    float: left;
    text-align: left;
    margin-right: spacing(1);
    margin-bottom: spacing(1);
}

%tblock-center {
    display: block;
    margin: auto;
    text-align: center;
    overflow: hidden;
}

.tblock-center {
    @extend %tblock-center;
}

.block-center {
    @extend %tblock-center;
    margin-bottom: spacing(1);
}

.block-right {
    display: block;
    float: right;
    text-align: right;
    margin-left: spacing(1);
    margin-bottom: spacing(1);
}

.content__table {
    font: inherit;
    display: inline-block;
    border-collapse: collapse;
    border-spacing: 0;
    margin: spacing(1);
    vertical-align: top;
}

.content__table-column {
    adjust-font-size: fs small;
    padding-left: spacing(1);
    padding-right: spacing(1);
    text-align: center;
}

.content__table-line {
    background: @block-color;
}

.content__table-line_first {
    @extend %strong;
    adjust-font-size: fs base;
    background: @block-color;
    color: @header-color;
}

%icon {
     display: inline-block;
     vertical-align: middle;
     text-align: center;
     line-height: lheight(1);
     width: spacing(.75);
     height: spacing(.75);
 }