%strong {
    font-weight: 500;
}

%hlight {
    color: @sheader-color;
}

h1 {
    text-align: center;
    font-weight: 600;
    adjust-font-size: fs xxl;
    color: #fff;
    margin-top: spacing(1);
    margin-bottom: spacing(1);
}

h2 {
    @extend %strong;
    color: @header-color;
    adjust-font-size: fs xl;
    margin-top: spacing(2);
    margin-bottom: spacing(1);
    padding-left: spacing(1);
    padding-right: spacing(1);
    border-left: spacing(.2) solid @header-color;
    background: @code-color;
}

h3 {
    @extend %hlight;
    adjust-font-size: fs l;
    margin-top: spacing(2);
    margin-bottom: spacing(1);
}

h4 {
    @extend %hlight;
    adjust-font-size: fs m;
    margin-top: spacing(1);
}

h5 {
    @extend %hlight;
    adjust-font-size: fs b;
    margin-top: spacing(1);
}

h6 {
    @extend %hlight;
    adjust-font-size: fs s;
    margin-top: spacing(1);
}

strong {
    @extend %strong;
}

p {
    adjust-font-size: fs b;
    @hyphens;
    margin-bottom: spacing(1);
}

a {
    color: @header-color;
    &:hover {
        color: @font-color;
    }
}

ul,
ol {
    adjust-font-size: fs b;
    list-style-position: inside;
    margin-bottom: spacing(1);
}

ul {
    list-style: disc inside;
}

ol {
    list-style: decimal inside;
}

ul a, ol a {
    text-decoration: none;
}

code,
pre {
    font-family: "Roboto Mono", Inconsolata, monospace;
    margin: 0;
    padding: 0;
    text-align: left;
    tab-size: 4;
    hyphens: none;
    @forcewrap;
}
