$fonts: ../fonts;
$images: ../images;
$icons: ../icons;

@hamster {

    /*  Base Font settings */
    font-size: 16px;
    /* line height in pixels like 24px or relative value like 1.5 without em, rem! */
    line-height: 1.5;
    font-ratio: minor-third;
    remove-comments: true;

    /*  Vertical Rythm settings */
    
    unit: em;
    px-fallback: true;
    properties: extend;
    ruler-style: switch ruler-debug;
    ruler-color: rgba(19, 134, 191, .8);
    /*ruler-icon-colors: #F0FAFF #ACFF0D;
    ruler-icon-colors: #cccccc #44576a;*/
    ruler-icon-position: "position:fixed;top: 1.5em;left: 1.5em;";
    /*ruler-color: #21BF13;*/
    ruler-background: png;
    /*ruler-output: images/ruler.png;*/
    ruler-pattern: 1 0 0 0;
    ruler-scale: 4;
    ruler-thickness: 1;

    round-to-nearest-half-line: false;
    min-line-padding: 2px;

    /*  Custom Typography contants */

    font-weight: 400;
    font-color: #44576a;
    header-color: #1386BF;
    background-color: #FAFDFF;
    block-color: #F0FAFF;
    hover-color: #1BBA13;
    footer-color: #1B2633;
    code-color: #2C3945;
    font-family: Roboto, "Open Sans", "Segoe UI", "Helvetica Neue", Helvetica, Verdana, Tahoma, Arial, sans-serif;

}