@hamster {

    /*  Base Font settings */
    --font-size: 16px;
    /* line height in pixels like 24px or relative value like 1.5 without em, rem! */
    --line-height: 1.35;

    --font-ratio: 1.2;
    --remove-comments: true;
    /*  Vertical Rhythm settings */
    
    --unit: px;
    --px-fallback: true;
    --rem-fallback: false;
    --properties: extend;
    --ruler-style: switch ruler-debug;
    --ruler-color: rgba(2, 179, 228, .7);
    --ruler-icon-colors: #fff #02b3e4;
    --ruler-icon-position: "position:fixed;top: spacing(1.125);left: spacing(.625);";
    --ruler-icon-size: spacing(.75);
    --ruler-pattern: 1 0 0 0;
    --ruler-scale: 4;
    --ruler-thickness: 1;

    --round-to-nearest-half-line: false;
    --min-line-padding: 1px;

    /*  Custom Typography constants */

    --font-weight: 400;
    --font-color: #304458;
    --header-color: #02b3e4;
    --sheader-color: #DA083D;
    --background-color: #f5f5f5;
    --block-color: #F2FBFF;
    --hover-color: #1bba13;
    --footer-color: #1C2733;
    --wrapper-background: #fff;
    --code-color: #faf9fa;
    --font-family: Roboto, "Open Sans", "PT Sans", "Segoe UI", "Helvetica Neue", Helvetica, Verdana, Tahoma, Arial, sans-serif;
}
